body{
    background-color: #EFEFEF; 
    font-size: .9rem;
}
.background-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.indexBanner {
    background-image: 
    linear-gradient(to right, rgba(30, 30, 31, 0.644), rgba(30, 30, 31, 0.644)),
    url('../images/banner.jpg');
    height: 90vh;
}

.developerAPIBanner {
    background-image: 
    linear-gradient(to right, rgba(30, 30, 31, 0.705), rgba(30, 30, 31,  0.705)),
    url('../images/API.png');
    height: 80vh;
}

.pricingBanner {
    background-image: 
    linear-gradient(to right, rgba(30, 30, 31, 0.405), rgba(30, 30, 31,  0.405)),
    url('../images/online-payment.png');
    height: 80vh;
}

.faqBanner {
    background-image: 
    linear-gradient(to right, rgba(30, 30, 31, 0.405), rgba(30, 30, 31,  0.405)),
    url('../images/faq.png');
    height: 80vh;
}
.developerAPIBanner > div{
    background-color: rgba(255, 255, 255, 0.287);
}
.banner > .jumbotron > .container{
    height: 81.5vh;
}
.navbar{
    background-color: rgba(105, 105, 105, 0.61) !important;
}
.features-card-header{
    height: 150px;
}
#otp{
    background-image: url('../images/OTP_1.gif');
}
#email-notifications{
    background-image: url('../images/notification.png');
}
#DND-notifications{
    background-image: url('../images/DND.jpg');
}
#smsFromSpreadsheet{
    background-image: url('../images/excelSpreadsheet.png');
}
#high-res-messages{
    background-image: url('../images/GIF.gif');
}
#authentication{
    background-image: url('../images/Login.jpg');
}
#number-lookup{
    background-image: url('../images/lookUp.png');
}
#sub-Account{
    background-image: url('../images/sub-account.png');
}
#reseller{
    background-image: url('../images/reseller.png');
}
#regional-sms{
    background-image: url('../images/regional-sms.png');
}
#multi-channel-communication{
    background-image: url('../images/Multichannel.png');
}
#voice-api{
    background-image: url('../images/voice-api.jfif');
}

#two-way-communication{
    background-image: 
    linear-gradient(to right, rgba(226, 226, 226, 0.918) 25%, rgba(226, 226, 226, 0)),
    url('../images/two-way-communication.jpg');
    height: 450px;
}
footer{
    background-color:  #e0e0e0;
}
